.App {
  text-align: center;
}
.App1 {
  background-color: #464e5e;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(218, 18, 151);
}

.App2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.AppAbout {
  margin-top: 300px;
  background-color: #464e5e;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(218, 18, 151);
}

ol li {
  display: inline-flexbox;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

#delete {
  float: inline-end;
}

#check {
  display: inline-table;
  text-decoration: line-through;
}

#blogo {
  justify-content: center;
  align-items: center;
}


.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #293d64;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(218, 18, 151);
}

.App-header1 {
  background-color: #293d64;
  align-items: center;
  justify-content: center;
  
  color: rgb(28, 238, 245);
}



.App-header2 {
  margin-top: 140px;
  margin-bottom: auto;
  text-align: center;
  background-color: #293d64;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(218, 18, 151);
}

.App-link {
  color: #61dafb;
}

#businesslogo {
  width: 75px;
  height: auto;
}

#Sanibel {
  max-width: 65%;
}

#message {
  background-color: #ecfb61;
}

#uuidv4 {
  width: 150px;
  height: 25px;
  background-color: #444b04;
  text-shadow: #61dafb;
  color: rgb(87, 117, 117);
  /*animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;*/
  animation: fadeOut ease 15s;
  -webkit-animation: fadeOut ease 15s;
  -moz-animation: fadeOut ease 15s;
  -o-animation: fadeOut ease 15s;
  -ms-animation: fadeOut ease 15s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

.page-footer {
  background-image: url(https://images-na.ssl-images-amazon.com/images/I/91Gtiq4odvL._SL1500_.jpg)
  
}


::-webkit-input-placeholder {
  color: blue;
  font-weight: bold;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
