.App {
  text-align: center;
}
.App1 {
  background-color: #464e5e;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(218, 18, 151);
}

.App2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

ol li {
  display: inline-flexbox;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

#delete {
  float: inline-end;
}

#check {
  display: inline-table;
}




.App-logo {
  height: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #293d64;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(218, 18, 151);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
